#blogIndex {
    width: 100%;
    line-height: 4em;
}

#blogIndex a {
    color: #dddddd;
    font-size: 18px;
    text-decoration: none;
}

#blogIndex a:hover {
    color: white;
}

.blogImgs {
	height: 5em;
	width: 5em;
	margin-bottom: -2em;
}

tr a {
	position: relative;
}