body {
 background-color: #1e1e20;
}

* {
    font-family: Helvetica, sans-serif;
}

#header {
}

#branding{
    height: 15em;
}

#logo {
    height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    clear: both;
    margin-top: 1em;
}

#nav ul {
    margin-top: 0px;
    text-align: center;
}

#nav li {
    display: inline;
}

#nav li a {
    color: #A0A6A9;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #A0A6A9;
}

#nav li a:hover {
    color: white;
}

#nav li:last-child a {
    border-right: none;
}

#body {
    background-color: #333333;
    border: 2px solid #98a9a9;
    border-radius: 20px;
    padding: 1em 3em 3em;
    min-height: 25em;
    margin-left: auto;
    margin-right: auto;
    width: 65em;
    box-shadow: inset 0px 0px 4px 4px #565656;
    color: #dddddd;
    text-align: center;
}

#blogIndex {
    width: 100%;
    line-height: 4em;
}

#blogIndex a {
    color: #dddddd;
    font-size: 18px;
    text-decoration: none;
}

#blogIndex a:hover {
    color: white;
}

#footer {
    width: 69em;
    margin-left: auto;
    margin-right: auto;
    height: 10em;
}

#footer p {
    color: #A0A6A9;
    font: Helvetica, sans-serif;
    float: right;
    text-align: right;    
}