body {
 background-color: #1e1e20;   
}

#header {
}

#branding{
    height: 15em;
}

#logo{
    height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#nav {
    clear: both;
    margin-top: 1em;
}

#nav ul {
    margin-top: 0px;
    text-align: center;
}

#nav li {
    display: inline;
}

#nav li a {
    color: #A0A6A9;
    font-size: 20px;
    font: Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #A0A6A9;
}

#nav li a:hover {
    color: white;
}

#nav li:last-child a {
    border-right: none;
}

#body {
    background-color: #333333;
    border: 2px solid #C2CCCC;
    padding: 2em;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    width: 45em;
}

#body p {
    color: #dddddd;
}

#footer {
    margin-right: 10em;
}

#footer p {
    color: #A0A6A9;
    font: Helvetica, sans-serif;
    float: right;
}