body {
 background-color: #252525;   
}

#headerWrapper {
    background-color: red;
}

#topbar{
    background-color: green;
    height: 15em;
}

#logo{
    height: 100%;
    display: block;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#bottombar{
    background-color: yellow;
    clear: both;
    margin: 0px;
}

#bottombar ul {
    margin-top: 0px;
    text-align: center;
}

#bottombar li {
    display: inline;
}

#bottombar li a {
    color: #a8a8a8;
    text-decoration: none;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid black;
}

#bottombar li a:hover{
    color: white;
}

#bottombar li:last-child a {
    border-right: none;
}